/*
style.css contains some really basic css styles
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}
section {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));
  background: -moz-linear-gradient(bottom, #bbd, #fff);
  background: linear-gradient(bottom, #bbd, #fff);
}

section > img {
  height: 99%;
  width: auto;
  max-width: 99%;
  max-height: 99%;

}

.new {
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform: translateX(-100%);
  -moz-transition: -webkit-transform 1s linear;
  -moz-transform: translateX(-100%);
  -o-transition: -webkit-transform 1s linear;
  -o-transform: translateX(-100%);
}

.current {
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform: translateX(0);
  -moz-transition: -webkit-transform 1s linear;
  -moz-transform: translateX(0);
  -o-transition: -webkit-transform 1s linear;
  -o-transform: translateX(0);
}

.old {
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform: translateX(100%);
  -moz-transition: -webkit-transform 1s linear;
  -moz-transform: translateX(100%);
  -o-transition: -webkit-transform 1s linear;
  -o-transform: translateX(100%);
}
footer {
  background:transparent;
  text-align : center;
  width : 100%;
  position:fixed;
  bottom:0em;
  display: table;
}

footer div {
  display: table-cell;
  width: 33%;    
}

.foot_center {

}
.foot_left {
  text-align : left;
}
.foot_right {
  text-align : right;
}
