/*
style.css contains some really basic css styles
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

header {
  height: 30px;
  background-color: #161616;
  background: -webkit-gradient(linear, top, bottom, from(#161616), to(#131313));
  background: -moz-linear-gradient(top, bottom, from(#161616), to(#131313));
  background: linear-gradient(top, bottom, from(#161616), to(#131313));
  border-bottom: 5px solid #acd86e;
}

header .heading {
  color: #e0e0e0;
  font-size: 25px;
}

#container {
  display: block;
  width: 100%;
  height: 94%;
  left: 0;
  top: 0;
  text-align: center;
  position: absolute;
  overflow: hidden;

  margin-top: 50px;
  background-color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));
  background: -moz-linear-gradient(bottom, #bbd, #fff);
  background: linear-gradient(bottom, #bbd, #fff);
}

section {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 99%;
  height: 99%;

  -webkit-transition: margin 0.75s ease-in-out;
  -moz-transition: margin 0.75s ease-in-out;
  -o-transition: margin-left 0.75s ease-in-out;
  transition: margin 0.75s ease-in-out;
}

section > img {
  height: 92%;
  width: auto;
  max-width: 99%;
  max-height: 99%;
  box-shadow: 10px 10px 5px #888;
}

section.new {
  margin-left: 2000px;
  display: block;
}

section.current {
  visibility: visible;
  display: block;
}

section.old {
  margin-left: -2000px;
  display: block;
}

footer {
  background:transparent;
  text-align : center;
  width : 100%;
  position:fixed;
  bottom:0em;
  display: table;
}

footer div {
  display: table-cell;
  width: 33%;    
}

footer .foot_center {

}

footer .foot_left {
  text-align : left;
}

footer .foot_right {
  text-align : right;
}


footer .foot_item {
  height: 60px;
  width : auto;
  max-width: 80px;
  margin: 2px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

footer .current_footitem {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  border-width : 2px;
  border-color: black;
  border-style : solid;
}
